include LICENSE
include README.rst
include MANIFEST.in
include requirements*.txt
include conftest.py
recursive-include prism data/*

exclude docs joss_paper logo prism_trash tutorials .github
recursive-exclude docs *
recursive-exclude joss_paper *
recursive-exclude logo *
recursive-exclude prism_trash *
recursive-exclude tutorials *
recursive-exclude .github *
exclude *.yml
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
