numpy>=1.8
setuptools>=36.3.0
matplotlib>=1.4.3
e13tools>=0.4.5a0
scipy>=1.0.0
h5py>=2.8.0
mlxtend>=0.9.1
scikit-learn>=0.19.1
sortedcontainers>=1.5.9
tqdm>=4.7.6
mpi4py>=3.0.0
check-manifest
readme_renderer

